<h1>Votre base dépérie !</h1>
<p>Cela fait un certains temps que tu n'as pas géré ta base ! De ce fait ta base tombe en lambeaux.</p>
<p>Elle sera définitivement considérée comme ruine dans 3 jours à compter de la réception de ce mail.</p>
<p>Si tu ne 'ty reconnecte pas d'ici la tout ce que tu as bâti et ton armée seront perdue à tout jamais...</p>
<p>Ta base sera en ruine à cette data précise : {{ desactivation_date }}</p>
<p>Pour te reconnecter <a href="http://dev.ruined-world.anthony-pilloud.fr">clique ici</a></p>